* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 246, 250);
  height: 100vh;
}

.cont {
  display: flex;
  border-radius: 10px;
  box-shadow: 5px 6px 6px 0px rgba(0, 0, 0, 0.75);
}

.cont-boxes {
  border-radius: 10px;
}

.container .boxes {
  display: grid;
  grid-template-columns: repeat(2, 350px);
}


.box1 {
  padding: 20px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box2 {
  background-color: rgb(2, 188, 170);
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 10px;
}

.box3 {
  background-color: rgb(97, 199, 189);
  padding: 20px;
  border-bottom-right-radius: 10px;
}


.btn {
  color: white;
  text-align: center;
  padding: 10px;
  background-color: greenyellow;
  border-radius: 5px;
  width: 250px;
}

.btn a {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  text-decoration: 0;

}

.cont-box2 {
  display: flex;
  align-items: center;
}

.p3 {
  padding: 3px;
  margin-top: 10px;
  margin-right: 8px;
  color: white;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 1.3px;
}

.texto-box2 {
  margin-bottom: 10px;
  color: white
}

.box-top .p1 {
  color: rgb(177, 205, 50);
  font-weight: 900;
  font-size: 19px;
  margin-bottom: 18px;
}

.access {
  color: white;
  font-size: 15px;
  margin-bottom: 20px;
}

.box-top .p2 {
  color: rgb(211, 210, 210);
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 18px;
}

.payment {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 15px;

}

.box1 h3 {
  color: white;
}

.p3 {
  font-size: 30px;
  font-weight: 900;
  color: white;
}

.p4 {
  color: white;
  font-weight: 50;
  opacity: 0.5;
  margin-left: 10px;
}