* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 246, 250);
  height: 100vh;
}

.container {
  display: flex;
  border-radius: 10px;
  box-shadow: 5px 6px 6px 0px rgba(0, 0, 0, 0.75);
}

.cont-cards {
  border-radius: 10px;
}

.container .grid {
  display: grid;
  grid-template-columns: repeat(2, 350px);
}

.box-top {
  padding: 20px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box1 {
  background-color: rgb(2, 188, 170);
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 10px;
}

.list {
  color: white;
}

.box2 {
  background-color: rgb(97, 199, 189);
  padding: 20px;
  border-bottom-right-radius: 10px;
}

.box-top h3 {
  color: rgb(74, 195, 208);
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 28px;
  letter-spacing: 1.3px;
}

.box-top .p1 {
  color: rgb(177, 205, 50);
  font-weight: 900;
  font-size: 19px;
  margin-bottom: 18px;
}

.access {
  color: white;
  font-size: 15px;
  margin-bottom: 20px;
}

.box-top .p2 {
  color: rgb(211, 210, 210);
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 18px;
}



.box1 h3 {
  color: white;
}

.p3 {
  font-size: 30px;
  font-weight: 900;
  color: white;
}

.p4 {
  color: white;
  font-weight: 50;
  opacity: 0.5;
}

.btn {
  padding: 20px;
  background-color: greenyellow;
}

.btn a {
  display: flex;
  justify-content: center;
}